<!--
============================================
; Title: app.component.html
; Author: Reva Baumann
; Date: 23 September 2019
; Modified By: Reva Baumann
; Description: Passing Data to Routes
;===========================================
-->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Passing Data to Routes Exercise 3.2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/user/{{userId}}">User</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- Router Details -->
<router-outlet></router-outlet>