<!--
; Title: app.component.specs.ts
; Author: Reva Baumann
; Date: 2 October 2019
; Description: Async Pipe
;===========================================
-->

<header>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.pricePerPound }}</td>
      <td>{{ user.quantity }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.pricePerPound }}</td>
      <td>{{ user.quantity }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.pricePerPound }}</td>
      <td>{{ user.quantity }}</td>
      <tr>
        <th scope="row">4</th>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.pricePerPound }}</td>
        <td>{{ user.quantity }}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.pricePerPound }}</td>
        <td>{{ user.quantity }}</td>
      </tr>
    </tr>
  </tbody>
</table>
</header>