<!--
============================================
; Title: Exercise 6.2
; Author: Reva Baumann
; Date: 14 October 2019
; Modified By: Reva Baumann
; Description: Input Properties
;===========================================
-->

<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="tool__icon-button mat-button">

      <mat-icon>web</mat-icon>

      <span style="margin-left: 5px !important">WEB 425</span>
    </button>

    <button mat-button class="mat-button" routerLink="/">Order</button>

    <div fxFlex></div>

  </mat-toolbar-row>
</mat-toolbar>

<!-- Flex Layout -->
<div fxLayout="row" fxFlexFill>
  <div class="left" fxFlex="30%">
    <h4>Menu</h4>
  </div>

  <div fxFlex="70%">
    <div class="wrapper" fxLayout="column">
      <input
        type="text"
        placeholder="Enter stock (e.g. AAPL)"
        (input)="onChangeEvent($event)"
        (change)="onChangeEvent($event)"
        autofocus
      />
      <app-order [stockSymbol]="stock" [quantity]="numberOfShares"></app-order>
    </div>
  </div>
</div>
