<!--
============================================
; Title: Exercise 6.3
; Author: Reva Baumann
; Date: 14 October 2019
; Modified By: Reva Baumann
; Description: Output Properties
;===========================================
-->

<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="tool__icon-button mat-button">

      <mat-icon>web</mat-icon>

      <span style="margin-left: 5px !important">WEB 425</span>

    </button>

    <button mat-button class="mat-button" routerLink="/">Price Quote</button>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxFlexFill>
  <div class="left" fxFlex="10%">
    <h4>Menu</h4>
  </div>

  <div fxFlex="90%">
    <div class="wrapper">
        AppComponent received: {{priceQuote?.stockSymbol}} {{priceQuote?.lastPrice | currency: 'USD'}}<br/>
        <app-price-quote (lastPrice)="priceQuoteHandler($event)"></app-price-quote>

    </div>
  </div>
</div>