/*
============================================
; Title: Exercise 7.3
; Author: Reva Baumann
; Date: 19 October 2019
; Modified By: Reva Baumann
; Description: Form Validation
============================================
*/


.menu{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    color: grey;
  }
  
  .left{
    border-right: 2px solid;
  }
  
  h4{
    color: deeppink;
    text-align: center;
    width: 100%;
    margin-top: 4rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  
  .wrapper{
    margin-top: 3rem;
  }