<!--
============================================
; Title: Exercise 7.3
; Author: Reva Baumann
; Date: 19 October 2019
; Modified By: Reva Baumann
; Description: Form Validation
============================================
-->

<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="tool__icon-button mat-button">
      <mat-icon>web</mat-icon>
      <span style="margin-left: 5px !important">WEB 425</span>
    </button>

    <button mat-button class="mat-button" routerLink="/">Phone Validator</button>

    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row" fxFlexFill>

  <div class="left" fxFlex="10%">
    <h4>Menu</h4>
  </div>

  <div fxFlex="90%">

    <app-phone-validator></app-phone-validator>
  </div>
</div>